.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  color: #f4f4f4;
  font-size: 10rem;
  gap: 31rem;
}
.main button {
  padding: 4rem;
  outline: none;
  background-color: transparent;
  color: #f4f4f4;
  font-size: 10rem;
  cursor: pointer;
  border: 0.3rem solid #9b3922;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 250ms ease-in 20ms;
  -webkit-transition: all 250ms ease-in 20ms;
  -moz-transition: all 250ms ease-in 20ms;
  -ms-transition: all 250ms ease-in 20ms;
  -o-transition: all 250ms ease-in 20ms;
}
.main button:hover{
    background-color: #9b3922;
}

.show{
    min-width: 7rem;
    text-align: center;
}